<strong>Olá, {{ student }}</strong>
<p>A sua dúvida foi respondida, veja a resposta abaixo:</p>

<p>
  <strong style="color: #636363;
  padding: 5px; border-radius: 5px; background: #cecece94; margin-rigth: 5px;
  ">Pergunta:</strong> {{ question }} <br />
</p>
<p>
  <strong style="color: #ee4d64;
  padding: 5px; border-radius: 5px; background: #cecece94; margin-rigth: 5px;
  ">Resposta:</strong> {{ answer }} <br />
</p>
